---
import { GraphQLClient } from "graphql-request";
import Layout from "../../layouts/Layout.astro";
import type { any } from "astro:schema";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const client = new GraphQLClient(import.meta.env.HYGRAPH_ENDPOINT);

  const { services }: any = await client.request(`
    query Services {
  services {
    title
    slug
    description
    mainImage{
    url
    width
    height
    }
  }
}
    `);

  const paths = services.map((service: any) => ({
    params: { slug: service.slug },
    props: {
      service,
    },
  }));

  return paths;
}

const service = Astro.props.service;
---

<Layout>
  <h1>{service.title}</h1>
  <Image src={service.mainImage.url} alt={service.title} height={service.mainImage.height} width={service.mainImage.width} />
</Layout>
